
body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
}


.gallery {
    display: flex;
    justify-content: center;
    margin: 20px;
}

img {
    margin: 10px;
}

.rowOne {
    border: 4px solid #00FFCC;
}

.rowTwo {
    border: 4px solid #E4A4EE;
}

.rowThree {
    border: 4px solid #FEE975;
}
